openai
transformers
torch
gensim
nltk
scipy==1.10.1
pandas
numpy
timm
gradio
accelerate
sentencepiece
scikit-image
matplotlib
seaborn
chromadb
langchain
PyMuPDF
pytesseract
llama_index
smolagents==1.18.0
ddgs
langgraph
langchain_openai
google-search-results
grandalf
langchain_community